<img src="https://simplesqltutorials.com/wp-content/uploads/2021/06/integer-data-type-featured-image.jpg">

# 1. Introdução

## Tipos de dados na programação
Na programação, um tipo de dado define um conjunto de valores que uma variável pode assumir. Por exemplo, um número pode ser inteiro (10) ou decimal (5.68). Saber quais tipos de dados estão disponíveis para utilização em uma linguagem de programação e como realizar operações com eles é um elemento fundamental para qualquer desenvolvedor. Por isso, vamos explorar quais são os tipos de dados básicos na linguagem Python. 

Vale ressaltar que há mais tipos de dados do que mencionarei nesta aula, porém teremos aulas específicas para eles mais para frente no curso.

## Tipagem do Python
Como sabemos, há linguagens de tipagem estática e dinâmica. Linguagens de tipagem estática devem ser inicializadas com delcaração do tipo de dado. Isso significa que para criar uma variável numérica do tipo inteira, devemos especificar que ela é inteira, não sendo possível alterar seu tipo durante a execução do programa.

Linguagens de tipagem dinâmica, como o Python, por outro lado, não exigem declarações de tipos de dados, pois são capazes de atribuir dinamicamente o tipo para cada variável, inclusive podendo alterá-lo durante a execução do programa. Por exemplo, ao escrevermos **x = 3**, o Python automaticamente entende que **x** é do tipo inteiro. Se depois escrevermos **x = "Olá, mundo!"**, o Python agora considera **x** como uma string.

## Visão geral dos tipos de dados em Python
Dentro do Python, há diversos tipos de dados. Abaixo, estão os mais comuns:

<ul>
    <li> Números (int, float)
    <li> Strings (str)
    <li> Booleanos (bool)
    <li> Listas (list)
    <li> Tuplas (tuple)
    <li> Dicionários (dict)
    <li> Conjuntos (set)
</ul>

Nesta seção, vamos explorar um pouco sobre os números, strings e booleanos. As listas, tuplas, dicionários e os outros serão abordados detalhadamente em aulas futuras. Além disso, podemos checar o tipo de uma variável utilizando a função **type()**. 

<hr>

# 2. Números

## Inteiros (int)
Agora, vamos falar sobre os números inteiros. Em Python, eles são representados pelo tipo **int**. Sabemos da matemática que números inteiros são aqueles que não possuem casas decimais, ou seja, alguns exemplos de números inteiros são: 11, 0, -5 e 4. 

Para criar um inteiro, simplesmente digitamos um número, sem nenhuma marcação especial. Por exemplo, **x = 3** cria uma variável chamada **x** com valor igual a **3**.

Podemos realizar diversas operações matemáticas com eles, mas, hoje, abordaremos apenas duas: a soma e subtração, representadas pelos símbolos **+** e **-**, respectivamente. Observe o exemplo de código abaixo:

In [18]:
# Atribuindo o valor 3 à variável x
x = 3 

# Atribuindo o valor 4 à variável y
y = 4

# Exibindo o valor da soma de x e y
print(f"Soma: {x + y}")

# Exibindo o valor da subtração de x e y
print(f"Subtração: {x - y}")

Soma: 7
Subtração: -1

In [19]:
# Substituindo o valor de x de 3 por 5
x = 5

# Exibindo o valor de x
print(f"O valor de x é: {x}")

O valor de x é: 5

In [20]:
# Atribuindo a soma de x e y a uma variável chamada z
z = x + y

# Exibindo o valor de z
print(f"O valor de z é: {z}")

O valor de z é: 9

In [21]:
# Tipo da variável x
print(f"O tipo de x é: {type(x)}")

# Tipo da variável y
print(f"O tipo de y é: {type(y)}")

# Tipo da variável z
print(f"O tipo de z é: {type(z)}")

O tipo de x é: <class 'int'>
O tipo de y é: <class 'int'>
O tipo de z é: <class 'int'>

Note que todas as variáveis tem o tipo **'int'**, ou seja, inteiro.

## Decimais (float)
Falando sobre os números decimais em Python, eles são representados pelo tipo **float**. Sabemos da matemática que números decimais são aqueles que possuem casas decimais, ou seja, alguns exemplos de números decimais são: 3.14, -0.8, -119.0 e .4. 

Para criar um decimal, simplesmente digitamos um número, com o ponto (**.**) como marcação especial. Aqui no Brasil, utilizamos a vírgula para separar os números pelas casas decimais. Porém, em Python, é utilizado o ponto (**.**). Por exemplo, **x = 3.14** cria uma variável chamada **x** com valor igual a **3.14**.

Podemos realizar diversas operações matemáticas com eles também, mas, como disse, abordaremos apenas a soma e subtração, hoje. Observe o exemplo de código abaixo:

In [23]:
# Atribuindo o valor 1.8 à variável numero1
numero1 = 1.8

# Atribuindo o valor 0.2 à variável numero2
numero2 = 0.2

# Exibindo a soma das variáveis
print(f"Soma: {numero1 + numero2}")

Soma: 2.0

Perceba que **.2** é igual a **0.2**

In [24]:
# Atribuindo a subtração de numero1 e numero2 a uma variável chamada resultado
resultado = numero1 - numero2

# Exibindo o valor da subtração
print(f"Subtração: {resultado}")

Subtração: 1.6

In [25]:
# Exibindo o tipo da variável resultado
print(f"O tipo da variável 'resultado' é: {type(resultado)}")

O tipo da variável 'resultado' é: <class 'float'>

<hr>

# 3. Strings
Saindo do mundo dos números, vamos falar sobre as strings. Em Python, elas são representadas pelo tipo **str**. Basicamente, elas são sequências de caracteres, incluindo letras, números e símbolos.

Para criar uma string, podemos simplesmente digitar um text entre aspas (simples, duplas ou triplas). Por exemplo, **x = "Olá, mundo!"** cria uma variável chamada **x** com valor igual a **"Olá, mundo!"**.

As strings possuem vários métodos e algumas propriedades que vamos explorar em aulas futuras também. Uma delas vocês já viram que é a formatação com f-string, que serve para incluir o valor das variáveis dentro da string.

In [26]:
# Atribuindo o valor 'João' à variável nome
nome = 'João'

# Atribuindo o valor "Lopes" à variável sobrenome
sobrenome = "Lopes"

# Exibindo o nome
print(f"Nome: {nome}")

# Exibindo o sobrenome
print(f"Sobrenome: {sobrenome}")

Nome: João
Sobrenome: Lopes

## Utilização de aspas
Agora, quero que você perceba que utilizei aspas simples **'** para o nome e aspas duplas **"** para o sobrenome. Será que tem diferença ou afeta no tipo? Vamos verificar:

In [27]:
# Exibindo o tipo da variável nome (aspas simples)
print(f"Tipo da variável nome: {type(nome)}")

# Exibindo o tipo da variável sobrenome (aspas duplas)
print(f"Tipo da variável sobrenome: {type(sobrenome)}")

Tipo da variável nome: <class 'str'>
Tipo da variável sobrenome: <class 'str'>

Como podemos ver, o tipo é o mesmo. Então, qual é a diferença entre utilizar aspas simples e duplas? 

Para responder essa pergunta, observe o código abaixo:

In [28]:
# Atribuindo o valor 'Gota d'água' à variável frase
frase = 'Gota d'água'

# Exibindo a frase
print(f"Frase: {frase}")

SyntaxError: invalid syntax (2198170494.py, line 2)

Note que ocorreu um erro de sintaxe. Ele ocorreu porque a frase em si continha aspas simples e estávamos utilizando aspas simples também para definir a string. 

Para solucionar isso, basta delimitarmos nossa frase com aspas duplas, ao invés de aspas simples.

In [31]:
# Atribuindo o valor "Gota d'água" à variável frase
frase = "Gota d'água"

# Exibindo a frase
print(f"Frase: {frase}")

Frase: Gota d'água

Note que agora funcionou perfeitamente e o inverso também é válido. Se nossa frase original tivesse aspas duplas, devemos utilizar aspas simples para delimitar a variável.

Agora, vem a questão: e se tivermos, na frase, aspas duplas e simples?

Neste caso, utilizaremos aspas triplas!

In [32]:
# Atribuindo o valor '''"É a gota d'água", ela disse.''' à variável frase
frase = '''"É a gota d'água", ela disse.'''

# Exibindo a frase
print(f"Frase: {frase}")

Frase: "É a gota d'água", ela disse.

Note que a frase possui tanto aspas simples quanto aspas duplas, por isso utilizamos aspas triplas para delimitar a variável.

Além disso, as aspas triplas nos permite escrever em mais de uma linha, como no exemplo abaixo:

In [34]:
# Atribuindo o valor "Esta é uma frase em linhas diferentes" à variável frase
frase = """Esta é
uma frase em
linhas diferentes
"""

# Exibindo a frase
print(f"Frase: {frase}")

Frase: Esta é
uma frase em
linhas diferentes

Por fim, para simplificar a leitura de strings em variáveis, podemos utilizar o caractere **escape ( \\ )**, que é a barra invertida. Ele nos permite armazenar caracteres que normalmente não podem ser armazenados em uma variável do tipo string, como as as aspas, por exemplo. 

Ele facilita muito a leitura e deve ser utilizado sempre que possível. Observe o código abaixo:

In [35]:
# Atribuindo o valor ""Ele disse: 'você não pode fazer isso.'"" à variável frase
frase = "\"Ele disse: \'você não pode fazer isso.\'\""

# Exibindo a frase
print(f"Frase: {frase}")

Frase: "Ele disse: 'você não pode fazer isso.'"

## Tratando números como strings
Vou utilizar este tópico para fazer um aviso: se você quiser trabalhar com operações artiméticas como soma, subtração, multiplicação etc., não poderá trabalhar com números em formato de string! Observe o erro do exemplo abaixo:

In [36]:
# Atribuindo o valor "3" à variável n1
n1 = "3"

# Atribuindo o valor "4" à variável n2
n2 = "4"

In [37]:
# Checando os tipos das variáveis
print(f"Tipo de n1: {type(n1)}\nTipo de n2: {type(n2)}")

Tipo de n1: <class 'str'>
Tipo de n2: <class 'str'>

In [38]:
# Somando os números
print(f"Soma: {n1 + n2}")

Soma: 34

In [39]:
# Subtraindo um número pelo outro
print(f"Subtração: {n1 - n2}")

TypeError: unsupported operand type(s) for -: 'str' and 'str'

Note que nos dois casos (soma e subtração) o resultado não foi o esperado. No primeiro (soma), esperávamos 7 (3 + 4), porém o resultado foi 34. Isso significa que quando somamos strings estamos, na verdade, fazendo a concatenação delas. No segundo (subtração), obtivemos um erro, visto que strings não suportam a utilização do operador **-**. 

Lembra da função **input()**, que vimos no módulo anterior? Então, ela retorna uma string. Ou seja, quando solicitamos que o usuário digite sua idade, estamos recebendo uma string, não um inteiro. No final desta aula, vamos falar sobre como fazer a conversão entre tipos.

<hr>

# 4. Booleanos
Agora que já falamos sobre os números e os textos, vamos falar sobre os booleanos! Talvez, você não conheça de cara esses caras, porque não são tão comuns quanto números e textos, mas tenho certeza de que vai entender. Em Python, o tipo booleano **bool** é um tipo de dado que só pode ter dois valores: **True** (verdadeiro) e **False** (falso). Eles são muito úteis em expressões condicionais e loops que veremos mais a frente. As regras para lidar com valores booleanos são simples: **True** é tratado como **1**, e **False** é tratado como **0**, uma herança da linguagem C, que tinham o tipo booleano como nativo. 

Para criar um valor booleano, podemos simplesmente comparar expressões (que veremos mais a frente) ou definir uma variável com os valores **True** ou **False**. Por exemplo, **x = True** cria uma variável chamada **x** com valor igual a **True**.

In [40]:
# Atribuindo o valor True à variável v1
v1 = True

# Atribuindo o valor False à variável v2
v2 = False

# Exibindo v1
print(f"V1: {v1}")

# Exibindo v2
print(f"V2: {v2}")

V1: True
V2: False

In [41]:
# Exibindo o tipo da variável v1
print(f"Tipo de v1: {type(v1)}")

Tipo de v1: <class 'bool'>

In [42]:
# Atribuindo o valor da soma de v1 e v2 à variável v3
v3 = v1 + v2

# Exibindo v3
print(f"V3: {v3}")

V3: 1

Note que o resultado foi 1, visto que v1 é True (um valor espacial para o inteiro 1) e v2 é False (um valor especial para o inteiro 0).

## Verificando a presença de caracteres em uma string usando funções is
As funções **is** em Python retornam **True** se todos os caracteres de uma string atendem a determinada condição e **False** caso contrário. 

Essas funções podem ser usadas para validar a entrada do usuário ou para verificar se uma string contém um determinado tipo de caractere. Por exemplo, você pode usar a função **isdigit()** para verificar se uma string contém apenas dígitos, ou a função **isalpha()** para verificar se uma string contém apenas letras. Aqui está um exemplo de código que usa a função **isalpha()** para verificar se uma string contém apenas letras:

In [43]:
# Atribuindo o valor "Linda demais <3" à variável x
x = "Linda demais <3"

# Verificando se possui apenas letras do alfabeto
print(f"Contém apenas letras do alfabeto? {x.isalpha()}")

Contém apenas letras do alfabeto? False

Note que retornou **False**, visto que temos os caracteres '<' e '3'. Abaixo, segue uma lista de algumas dessas funções:

<ul>
    <li> isdigit(): Retorna True se todos os caracteres da string são dígitos, e False caso contrário.
    <li> isalpha(): Retorna True se todos os caracteres da string são letras do alfabeto, e False caso contrário.
    <li> isalnum(): Retorna True se todos os caracteres da string são alfanuméricos (letras ou dígitos), e False caso contrário. 
    <li> islower(): Retorna True se todos os caracteres da string são letras minúsculas, e False caso contrário. 
    <li> isupper(): Retorna True se todos os caracteres da string são letras maiúsculas, e False caso contrário.
    <li> isspace(): Retorna True se todos os caracteres da string são caracteres de espaço em branco, como espaço, tabulação ou quebra de linha, e False caso contrário.
</ul>

<hr>

# 5. Conversão entre tipos
Na maioria das tarefas do dia a dia, é comum precisarmos converter um tipo de dado em outro. Por exemplo, podemos precisar converter um número inteiro em uma string para exibí-la na tela, ou converter uma string em um número para realizar cálculos matemáticos. Nesta seção, vamos falar sobre a conversão entre os tipos de dados mais comuns: **int**, **float**, **str** e **bool**, que são inteiros, decimais, strings e booleanos, respectivamente.

## Inteiro int()
Podemos converter outros tipos de dados em um inteiro utilizando a função **int()**. 

### str -> int
Por exemplo, se quisermos converter a string "20" para um número inteiro, podemos reproduzir o código abaixo:

In [44]:
# Atribuindo o valor "20" à variável valor
valor = "20"

# Checando o tipo da variável
print(type(valor))

<class 'str'>

In [50]:
# Connvertendo a variável para um número inteiro
numero = int(valor)

# Checando o tipo da variável
print(type(numero))

# Exibindo o valor de numero
print(f"Valor de inteiro: {numero}")

<class 'int'>
Valor de inteiro: 20

Neste caso, a variável **numero** recebeu o número 20, que é a representação numérica da string "20". Entretando, não conseguimos converter uma frase em um inteiro, por exemplo. Observe o erro do código abaixo:

In [51]:
# Tentativa de conversão
int("Olá, mundo!")

ValueError: invalid literal for int() with base 10: 'Olá, mundo!'

Uma aplicação da função para converter de string para inteiro é quando recebemos algum valor que era para ser numérico utilizando a função **input()**.

### float -> int
Por exemplo, se quisermos converter o valor 5.6 para um número inteiro, podemos reproduzir o código abaixo:

In [58]:
# Atribuindo o valor 5.6 à variável valor
valor = 5.6

# Checando o tipo da variável
print(type(valor))

<class 'float'>

In [59]:
# Connvertendo a variável para um número inteiro
inteiro = int(valor)

# Checando o tipo da variável
print(type(inteiro))

<class 'int'>

In [60]:
# Exibindo o valor de 'inteiro'
print(f"Valor dei 'inteiro': {inteiro}")

Valor dei 'inteiro': 5

Note que a conversão de um decimal para inteiro, ao chamar a função int, ocorre com o truncamento do número. Isso significa que ele desconsidera as casas decimais e pega apenas a parte inteira. Ou seja, **não** é um arredondamento, é um truncamento.

## Decimais float()
Podemos converter outros tipos de dados em decimal utilizando a função **float()**. 

### str -> float
Por exemplo, se quisermos converter a string "0.29" em um número decimal, podemos reproduzir o código abaixo:

In [61]:
# Atribuindo o valor "0.29" à variável valor
valor = "0.29"

# Checando o tipo da variável
print(type(valor))

<class 'str'>

In [65]:
# Connvertendo a variável para um número decimal
numero = float(valor)

# Checando o tipo da variável
print(type(numero))

# Exibindo o valor de 'numero'
print(f"O valor de número é: {numero}")

<class 'float'>
O valor de número é: 0.29

### int -> float
Por exemplo, se quisermos converter o valor intieor 5 em um número decimal, podemos reproduzir o código abaixo:

In [66]:
# Atribuindo o valor 5 à variável valor
valor = 5

# Checando o tipo da variável
print(type(valor))

<class 'int'>

In [67]:
# Connvertendo a variável para um número decimal
decimal = float(valor)

# Checando o tipo da variável
print(type(decimal))

<class 'float'>

In [68]:
# Exibindo o valor de 'decimal'
print(f"O valor de 'decimal' é: {decimal}")

O valor de 'decimal' é: 5.0

Note que a única diferença foi a presença do ponto flutuante, ou seja, do **.0** após o 5.

## Strings str()
Podemos converter outros tipos de dados em strings usando a função **str()**. Por exemplo, se quisermos converter um número em uma string, podemos reproduzir o código abaixo:

In [69]:
# Atribuindo o valor 5 à variável valor
valor = 5

# Checando o tipo da variável
print(type(valor))

<class 'int'>

In [72]:
# Connvertendo a variável para uma string
variavel = str(valor)

# Checando o tipo da variável
print(type(variavel))

# Exibindo o valor da variavel
print(f"Valor da variável: {variavel}")

<class 'str'>
Valor da variável: 5

## Booleanos bool()
Podemos converter outros tipos de dados em valores booleanos usando a função **bool()**. 

### str -> bool
Por exemplo, se quisermos converter uma string em um booleano, podemos reproduzir o código abaixo:

In [73]:
# Atribuindo o valor "Olá, Mundo!" à variável valor
valor = "Olá, Mundo!"

# Checando o tipo da variável
print(type(valor))

<class 'str'>

In [74]:
# Connvertendo a variável para um booleano
booleano = bool(valor)

# Checando o tipo da variável
print(type(booleano))

<class 'bool'>

In [75]:
# Exibindo o valor de 'booleano'
print(f"Valor de booleano: {booleano}")

Valor de booleano: True

Quando convertermos uma string para um booleano, o valor **True** será exibido quando a string não for vazia. Caso contrário, ou seja, caso a string seja vazia, o resultado será **False**. Observe um exemplo de retorno **False** abaixo:

In [76]:
# Atribuindo o valor "" à variável valor
valor = ""

# Checando o tipo da variável
print(type(valor))

<class 'str'>

In [77]:
# Connvertendo a variável para um booleano
booleano = bool(valor)

# Checando o tipo da variável
print(type(booleano))

<class 'bool'>

In [78]:
# Exibindo o valor de 'booleano'
print(f"O valor de booleano é: {booleano}")

O valor de booleano é: False

### int | float -> bool
Por exemplo, se quisermos converter um inteiro em um booleano, podemos reproduzir o código abaixo:

In [81]:
# Atribuindo o valor 53 à variável valor
valor = 53

# Checando o tipo da variável
print(type(valor))

<class 'int'>

In [82]:
# Connvertendo a variável para um booleano
booleano = bool(valor)

# Checando o tipo da variável
print(type(booleano))

<class 'bool'>

In [83]:
# Exibindo o valor de 'booleano'
print(f"O valor de booleano é: {booleano}")

O valor de booleano é: True

Quando convertermos um inteiro ou um decimal para um booleano, o valor **True** será exibido quando seu valor for diferente de zero (0 ou 0.0). Caso contrário, ou seja, caso o inteiro ou o decimal seja igual a zero, o resultado será **False**. Observe um exemplo de retorno **False** abaixo:

In [84]:
# Atribuindo o valor 0.0 à variável valor
valor = 0.0

# Checando o tipo da variável
print(type(valor))

<class 'float'>

In [85]:
# Connvertendo a variável para um booleano
booleano = bool(valor)

# Checando o tipo da variável
print(type(booleano))

<class 'bool'>

In [86]:
# Exibindo o valor de 'booleano'
print(f"O valor de booleano é: {booleano}")

O valor de booleano é: False

# Exercícios
Chegou a hora de colocar seus conhecimentos em prática!

## Exercício 004
Faça um programa que realize a soma e subtração de duas variáveis, sendo uma do tipo inteiro e outra do tipo decimal, exibindo o valor da soma e da subtração no seguinte formato: "O valor da soma é: \<soma\>" & "O valor da subtração é: \<subtracao\>"

## Exercício 005
Faça um programa que receba a idade do usuário e retorne a idade dele somada em 10 anos no seguinte formato: Sua idade daqui a 10 anos será: \<idade + 10 anos\>

## Exercício 006
Faça um programa que leia algo digitado pelo usuário, mostre seu tipo e tudo a respeito dele (dica: utiliza as funções **is**)

## Exercício 007
Faça um programa receba algo digitado pelo usuário e verifique se ele digitou alguma coisa, retornando **True** caso tenha e **False** caso não tenha.

## Exercício 008
Faça um programa que receba os seguintes dados de um funcionário: nome, idade e salario. Na empresa que esse funcionário trabalha, seu salário é aumentado de ano em ano em R$ 800,90.

Sabendo disso, imprima o nome, idade e salário do funcionário daqui a 1 ano no seguinte formato: "O funcionário \<nome\>, daqui a 1 ano, terá \<idade\> anos, recebendo um salário igual a R$\<salario\>.